# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\php\class-01\laravel20210315\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
